STAGE_SPECFILE_DIR="${SCRIPT_DIR}/stage4/SPECS"

# Packages whose specfiles we'll need to mangle
SRPM_REBUILD_PACKAGES=("REDHAT_RPM_CONFIG" "GCC" "GOLANG")

GCC_VERSION='11.3'

REDHAT_RPM_CONFIG_RPMNAME='redhat-rpm-config'
REDHAT_RPM_CONFIG_VERSION='196'

GOLANG_VERSION='1.18'
